{% extends 'base.html' %}
{% block page-main %}
    {% csrf_token %}
    <!---右侧文章栏 开始---->
    <div class="col-md-10">
        <div class="panel panel-info">
            <div class="panel-heading">
                {{ article_obj.title }}
            </div>
            <div class="panel-body">
                {{ content|safe }}
            </div>
        </div>

        <!---点赞 开始---->
        <div id="div_digg">
            <div class="diggit digg">
                <span class="diggnum" id="digg_count">{{ article_obj.up_count }}</span>
            </div>
            <div class="buryit digg">
                <span class="burynum" id="bury_count">{{ article_obj.down_count }}</span>
            </div>
            <div style="clear: both"></div>
            <!--提示信息-->
            <span class="diggword" id="msg"></span>
        </div>
        <div style="clear: both"></div>
        <!---点赞 结束---->

        <!--评论展示区 开始-->
        <div class="panel panel-default" style="border: none">
            <div class="panel-heading">
                评论展示区
            </div>
            <div class="panel-body">
                <ul class="list-group comment-list">
                    {% for comment in comment_list %}
                        <li class="list-group-item" my-id="{{ comment.id }}">
                            <span><span class="glyphicon glyphicon-home"></span>{{ forloop.counter }}楼</span>
                            <span>{{ comment.create_time|date:'Y-m-d H:i' }}</span>
                            <span><span class='glyphicon glyphicon-user'></span>{{ comment.user.username }}</span>
                            <span class="pull-right replay"><span class="glyphicon glyphicon-comment"></span>回复</span>
                            <br>
                            {% if comment.parent_comment %}
                                <span class="comment-content">@{{ comment.parent_comment.user.username }}</span>
                                <span class="comment-content well">{{ comment.parent_comment.content }}</span><br>
                            {% endif %}
                            <span class="comment-content">{{ comment.content }}</span>
                        </li>
                        {% empty %}
                        <li class="list-group-item">空空如也</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!--评论展示区 结束-->

        <!--评论发表区 开始-->
        <div>
            <p>发表评论</p>
            <p><span class='glyphicon glyphicon-user'>昵称：</span><input style="padding-left: 15px" type="text"
                                                                       value="{{ request.user.username }}" disabled></p>
            <p>评论内容:</p>
            <textarea id="new-comment" cols="60" rows="10"></textarea><br>
            <button class="btn btn-info" id="submit-info">提交信息</button>
        </div>
        <!--评论发表区 结束-->


    </div>
    <!---右侧文章栏 结束---->

{% endblock page-main %}

{% block page-js %}
    <script>
        // 给点赞和反对按钮绑定点击事件
        $(".digg").click(function () {
            // 1. 先判断有没有登录？
            if (!'{{ request.user.username }}') {
                // 如果没有登录就跳转到登录页面
                location.href = '/login/?next={{ request.get_full_path }}';
            }
            // 已经登录可以点赞或反对
            let userId = '{{ request.user.id }}';
            let articleId = '{{ article_obj.id }}';
            // 如何区分是点赞还是反对？
            let isUp = $(this).hasClass('diggit');
            // 向后端发请求
            $.ajax({
                url: '/updown/',
                type: 'post',
                data: {
                    csrfmiddlewaretoken: $('[name="csrfmiddlewaretoken"]').val(),
                    userId: userId,
                    articleId: articleId,
                    isUp: isUp
                },
                success: function (res) {
                    if (res.code === 1) {
                        // 错误提示
                        $("#msg").text(res.msg);
                        console.log(res.msg)
                    } if(res.code ===2){
                        //取消点赞反对操作
                        if (isUp) {
                            // 更新点赞数
                            let $UpSpan = $("#digg_count");
                            $UpSpan.text(+$UpSpan.text() - 1);
                            console.log($UpSpan.text())
                        } else {
                            let $downSpan = $("#bury_count");
                            $downSpan.text(+$downSpan.text() - 1)
                        }
                        // 2. 再显示提示
                        $("#msg").text(res.msg);
                    }if(res.code ===0) {
                        // 1. 先把点赞数或反对数更新一下
                        if (isUp) {
                            // 更新点赞数
                            let $UpSpan = $("#digg_count");
                            $UpSpan.text(+$UpSpan.text() + 1);
                            console.log($UpSpan.text())
                        } else {
                            let $downSpan = $("#bury_count");
                            $downSpan.text(+$downSpan.text() + 1)
                        }
                        // 2. 再显示提示
                        $("#msg").text(res.msg);
                    }
                }
            })
        });

        $("#submit-info").click(function () {
            let userId = "{{ request.user.id }}";
            let content = $("#new-comment").val();
            let articleId = "{{ article_obj.id }}";
            let parentId = $(this).data("pid") || "";
            if (parentId) {
                content = content.slice(content.indexOf('\n') + 1,);
            }
            $.ajax({
                url: "/comment/",
                type: "post",
                data: {
                    parent_id: parentId,
                    user_id: userId,
                    content: content,
                    article_id: articleId,
                    csrfmiddlewaretoken: $('[name="csrfmiddlewaretoken"]').val(),
                },
                success: function (res) {
                    console.log(res);
                    if (res.code === 0) {
                        let data = res.data;
                        let num = $(".comment-list>li").length + 1;
                        // 创建评论成功，通过js在评论列表里加一个新的评论
                        let commentHtml = `
                        <li class="list-group-item">
                            <span>#${ num }楼</span>
                            <span>${ data.create_time }</span>
                            <span>${ data.username }</span>
                            <span class="pull-right replay">回复</span>
                            <br>
                            <span class="comment-content">${ data.content }</span>
                        </li>
                        `;
                        // console.log(commentHtml);
                        $(".comment-list").append(commentHtml);
                        // 清空textarea
                        $("#new-comment").val('');
                        $("#submit-info").removeData("pid");
                    }
                }
            })
        });
        // 给回复按钮绑定事件
        $(".comment-list").on("click", ".replay", function () {
            // 1. 光标聚焦到评论框
            // 2. 添加一个@xxx的提示
            let replayName = $(this).prev().text();
            $("#new-comment").focus().val("@" + replayName + "\n");
            // 把当前评论的id值，偷偷存到提交按钮中
            let pID = $(this).parent().attr("my-id");
            $("#submit-info").data("pid", pID);
        });


    </script>
{% endblock page-js %}