<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="stylesheet" href="/static/bootstrap/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/mycss.css">

</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">我的首页</a>
        </div>
        <div>
            <p class="navbar-text navbar-left">欢迎来到我的网站</p>
            <!--向右对齐-->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/blogcenter/{{ request.user.username }}"><i>欢迎您：{{ request.user.username }}</i></a>
                </li>
                <li style="margin-right: 30px">
                        <span class="navbar-image navbar-right span-left">
                        <img src="/media/{{ request.user.avatar }}" alt=""
                             style="height: 50px;width:50px;border-radius: 50%">
                    </span>
                </li>
                <li>
                    <a href="/blogcenter/backend">后台管理</a>
                </li>
                <li>
                    <a href="/logout/" class="dropdown-toggle">
                        退出
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluit">
    <div class="row">
        <!--左侧栏开始-->
        <div class="col-md-2">
            {% load l_menu %}
            {% left_menu username %}
        </div>
        <!--左侧栏结束-->
        {% block page-main %}
        {% endblock page-main %}
    </div>
</div>
<script src="/static/js/jquery-3.3.1.js"></script>
<script src="/static/bootstrap/bootstrap-3.3.7/js/bootstrap.js"></script>
{% block page-js %}
{% endblock page-js %}
</body>
</html>